<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <table class="table table-houver table-striped">
    <thead>
      <tr>
        <th>Cursos</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Análize e Desenvolvimento de Sistemas</td>
      </tr>
      <tr>
        <td>Eventos</td>
      </tr>
      <tr>
        <td>Gestão Empresarial</td>
      </tr>
      <tr>
        <td>Gestão Comercial</td>
      </tr>
      <tr>
        <td>Recursos Humanos</td>
      </tr>
    </tbody>
  </table>
</body>
</html>
